/*this stylesheet is being shared by:
/*
index.html
about.html
blog_index.html
links.html
contact.html
*/

* {
    margin: 0;
    padding: 0;
}

body, html{
  height: 100vh;
  font-family: 'Lobster', cursive;
}

/*#body {

  height: 100%;
  bottom: 0;
}*/

#nav {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  padding: 3% 2.5% 2%;
  background-color: #D47D8D;
}

#header {
  display: inline-block;
  float: right;
  width: 60%;
  height: 100%;
  padding: 2.5% 5%;
  text-align: left;
  word-wrap: break-word;
  background-color: #F0D1E8;
}
#header a {
  font-size: 10em;
  text-decoration: none;
  color: #D47D8D;
  text-shadow: 5px 5px 10px #F3ECF9;
}

#header a:hover {
  color: #A7CFE2;
}

ul {
  height: 100%;

  list-style: none;
  text-align: right;
}

/*Nav Area*/

/*I included a bunch of media queries which will
resize the link text when a user re-sizes the browser
and hits the specified pixel width*/

 ul li a {
  text-decoration: none;
  font-size: 4em;
  color: #F3ECF9;
}

a:hover {
  color: #A7CFE2;
}

@media (max-width: 1000px) {
  ul li a {
    font-size: 3em;
  }
}

@media (max-width: 700px) {
  ul li a {
    font-size: 2.5em;
  }
}

@media (max-width: 600px) {
  ul li a {
    font-size: 1.5em;
  }
}

@media (max-width: 580px) {
  ul li a {
    font-size: 1.4em;
  }
}

@media (max-width: 550px) {
  ul li a {
    font-size: 1.3em;
  }
}

/*Nav links*/

#home {
  display: block;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 100%
}

#about {
  display: block;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 100%
}

#blog {
  display: block;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 100%
}

#links {
  display: block;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 100%
}

#contact {
  display: block;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 100%
}

/*Styling for about.html*/

#header h1 {
  font-size: 3em;
}

#header img {
  display: inline-block;
  float: left;
  padding-top: 3em;
  margin-right: 5%;
  height: 80vh;
}

#header p {
  font-size: 3em;
  margin-top: 1em;
  font-family: Courier, sans-serif;
}
#header p a {
  font-size: 1.5em;
  text-decoration: none;
  color: #D47D8D;
  text-shadow: 5px 5px 10px #F3ECF9;
}

/*Styling for blog_index.html*/

#header ul {
  height: 100%;
  list-style: none;
  text-align: left;
  margin-top: 2em;
  font-family: Courier, sans-serif;
}
#header ul li a {
  text-align: right;
  font-size: 2em;
  text-decoration: none;
  color: black;
  /*text-shadow: 5px 5px 10px #A7CFE2;*/
}
